# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

## APP

# dependencies
app/node_modules/

# Expo
app/.expo/
app/dist/
app/web-build/
app/expo-env.d.ts
app/.gitignore

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

## SERVER

server/node_modules/
server/.env